<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>お見積り情報入力</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"
        href="http://fonts.googleapis.com/css?family=Exo:900"/>
  <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
</head>

<body>
<nav th:insert="header.html :: header"></nav>
<div class="container">
  <form th:action="@{/submit}" th:object="${userOrderForm}" class="form-horizontal" method="post">
    <div class="progress-icon">
      <img src="../img/progress_input.svg" />
    </div>
    <div class="page-title">
      お見積り情報入力
    </div>

    <style>
      /* エラーメッセージリストの文字色を赤に変更 */
      .error-message {
          color: red;
          font-weight: bold;
      }
    </style>

    <div class="col-sm-12">
      <fieldset>
        <div class="sub-title">お客様情報</div>
        <div class="form-group">
          <label for="customerName">氏名</label>
          <div>
            <!-- onkeydownでEnterが押された場合にデフォルトイベントをキャンセル -->
            <input onkeydown="if(event.keyCode===13){event.preventDefault();}" type="text" id="customerName" name="customerName" th:field="*{customerName}" class="form-control" value="山田太郎"/>
            <span th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" class="error-message">氏名エラー</span>
          </div>
          <!-- <input type="text" id="customerName" name="customerName" th:field="*{customerName}" class="form-control" value="山田太郎"/> -->
        </div>
        <div class="form-group">
          <label for="tel">連絡先TEL</label>
          <div>
            <input onkeydown="if(event.keyCode===13){event.preventDefault();}" type="text" id="tel" name="tel" th:field="*{tel}" class="form-control" value="山田太郎"/>
            <span th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="error-message">連絡先エラー</span>
          </div>
          <!-- <input type="tel" id="tel" name="tel" th:field="*{tel}" class="form-control" value="03-1234-5678"/> -->
        </div>
        <div class="form-group">
          <label for="email">連絡先メールアドレス</label>
          <div>
            <input onkeydown="if(event.keyCode===13){event.preventDefault();}" type="text" id="email" name="email" th:field="*{email}" class="form-control" value="山田太郎"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message">メールアドレスエラー</span>
          </div>
          <!-- <input type="text" id="email" name="email" th:field="*{email}" class="form-control" value="test@test.com"/> -->
          <!-- <td><span th:text="*{email}"></span></td> -->
        </div>
        <div class="sub-title">配達情報</div>
        <div class="form-group">
          <label for="oldPrefectureId">集荷元住所（都道府県）</label>
          <select id="oldPrefectureId" name="oldPrefectureId" class="form-control">
            <option th:each="prefecture : ${prefectures}" th:value="${prefecture.prefectureId}" th:field="*{oldPrefectureId}">[[${prefecture.prefectureName}]]</option>
          </select>
        </div>
        <div class="form-group">
          <label for="oldAddress">集荷元住所（市区町村以下）</label>
          <div>
            <input onkeydown="if(event.keyCode===13){event.preventDefault();}" type="text" id="oldAddress" name="oldAddress" th:field="*{oldAddress}" class="form-control" value="山田太郎"/>
            <span th:if="${#fields.hasErrors('oldAddress')}" th:errors="*{oldAddress}" class="error-message">旧住所エラー</span>
          </div>
          <!-- <input type="text" id="oldAddress" name="oldAddress" th:field="*{oldAddress}"
                 class="form-control" value="新宿区西新宿1-1-1"/> -->
        </div>
        <div class="form-group">
          <label for="newPrefectureId">お届け先住所（都道府県）</label>
          <select id="newPrefectureId" name="newPrefectureId" class="form-control">
            <option th:each="prefecture : ${prefectures}" th:value="${prefecture.prefectureId}" th:field="*{newPrefectureId}">[[${prefecture.prefectureName}]]</option>
          </select>
        </div>
        <div class="form-group">
          <label for="newAddress">お届け先住所（市区町村以下）</label>
          <div>
            <input onkeydown="if(event.keyCode===13){event.preventDefault();}" type="text" id="newAddress" name="newAddress" th:field="*{newAddress}" class="form-control" value="山田太郎"/>
            <span th:if="${#fields.hasErrors('newAddress')}" th:errors="*{newAddress}" class="error-message">新住所エラー</span>
          </div>
          <!-- <input type="text" id="newAddress" name="newAddress" th:field="*{newAddress}" class="form-control" -->
                 <!-- value="札幌市南区1"/> -->
        </div>
        <div class="form-group">
          <label for="schedule">引っ越し予定時期</label>
          <select id="schedule" name="schedule" class="form-control">
            <option th:each="prefecture : ${prefectures}" th:value="${prefecture.prefectureId}" th:field="*{newPrefectureId}">[[${prefecture.prefectureName}]]</option>
          </select>
        </div>
      </fieldset>

      <fieldset>
      <div class="sub-title">お荷物情報</div>
        <div class="form-group">
          <label for="box">段ボールの個数</label>
          <div>
            <input onkeydown="if(event.keyCode===13){event.preventDefault();}" type="text" id="box" name="box" th:field="*{box}" class="form-control" value="山田太郎"/>
            <span th:if="${#fields.hasErrors('box')}" th:errors="*{box}" class="error-message">段ボール個数エラー</span>
          </div>
          <!-- <input type="text" id="box" name="box" th:field="*{box}" class="form-control" value="10"/> -->
        </div>
        <div class="form-group">
          <label for="bed">ベッドの個数</label>
          <div>
            <input onkeydown="if(event.keyCode===13){event.preventDefault();}" type="text" id="bed" name="bed" th:field="*{bed}" class="form-control" value="山田太郎"/>
            <span th:if="${#fields.hasErrors('bed')}" th:errors="*{bed}" class="error-message">ベッド個数エラー</span>
          </div>
          <!-- <input type="text" id="bed" name="bed" th:field="*{bed}" class="form-control" value="3"/> -->
        </div>
        <div class="form-group">
          <label for="bicycle">自転車の個数</label>
          <div>
            <input onkeydown="if(event.keyCode===13){event.preventDefault();}" type="text" id="bicycle" name="bicycle" th:field="*{bicycle}" class="form-control" value="山田太郎"/>
            <span th:if="${#fields.hasErrors('bicycle')}" th:errors="*{bicycle}" class="error-message">自転車個数エラー</span>
          </div>
          <!-- <input type="text" id="bicycle" name="bicycle" th:field="*{bicycle}" class="form-control" value="1"/> -->
        </div>
        <div class="form-group">
          <label for="washingMachine">洗濯機の個数</label>
          <div>
            <input onkeydown="if(event.keyCode===13){event.preventDefault();}" type="text" id="washingMachine" name="washingMachine" th:field="*{washingMachine}" class="form-control" value="山田太郎"/>
            <span th:if="${#fields.hasErrors('washingMachine')}" th:errors="*{washingMachine}" class="error-message">洗濯機個数エラー</span>
          </div>
          <!-- <input type="text" id="washingMachine" name="washingMachine" th:field="*{washingMachine}" class="form-control"
                 value="1"/> -->
        </div>
        <div class="form-group">
          <label for="washingMachineInstallation">洗濯機の設置工事申し込み</label>
          <select id="washingMachineInstallation" name="washingMachineInstallation" class="form-control" th:field="*{washingMachineInstallation}">
            <option th:value="false" th:text="なし">なし</option>
            <option th:value="true" th:text="あり">あり</option>
          </select>
        </div>
      </fieldset>
      <div class="form-group">
        <div class="text-center">
          <button type="submit" name="backToTop" class="btn-back">TOPへ戻る</button>
          <button type="submit" name="confirm" class="btn btn-primary">ご入力内容の確認へ</button>
        </div>
      </div>
    </div>
  </form>
</div>
<script src="../js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script src="../js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>